{% extends 'base.html' %}
{%load static%}
  {% block content %}  
        <link rel="stylesheet" href="{% static 'style.css' %}">    
    
        
    <h1>🤖 Chatbot Support</h1>
    <p>Need support or just want to chat? Ask me anything about new motherhood!</p>
        <div class="chat-box">
    <div id="messages"></div>

    <div id="input-area">
        <input type="text" id="message" placeholder="Type a message...">
        <button onclick="sendMessage()">➤</button>
    </div>
</div>

<script>

function addMessage(text, sender) {
    let div = document.createElement("div");
    div.classList.add("msg", sender);
    div.innerText = text;
    document.getElementById("messages").appendChild(div);
    div.scrollIntoView();
}

    async function sendMessage() {
    const msgBox = document.getElementById("message");
    const msg = msgBox.value.trim();
    if (!msg) return;


    addMessage(msg, "user");
       msgBox.value = "";
         
          
    const response = await fetch("{% url 'send_chat_message' %}", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ message: msg })
    });

    const data = await response.json();
    addMessage(data.response, "bot");
    }
</script>
{%endblock%}






